@import url('https://fonts.googleapis.com/css?family=Kalam|Pacifico');
hr {
    border: 5px solid;
    padding: none;
    color: mediumvioletred;
}
.header {
    text-align: center;
    font-family: 'Pacifico', cursive;
    background-color: #c7ff00;
    color: lightskyblue;
}

.nav {
   background-color: rgb(132, 40, 218);
}

.nav-link:link {
    color: lightskyblue;
}

.nav-link:visited {
    color: #c7ff00;
}

.nav-link:hover {
    font-weight: bold;
    color: orange;
}

.nav-link:active {
    color: orange; /* NOT WORKING */
    text-decoration: none; /* Bootstrap already set this as well */
}
.nav-link {
    color: lightskyblue;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.fa-home { 
    font-size: 30px;
}

.jumbotron {
    background-color: transparent;
    font-family: 'Kalam', cursive;
    color: white;
    padding-bottom: 0px;
    padding-top: 5px;
}

.description {
    color: white;
    font-family: 'Kalam', cursive;
}


.carousel-caption {
    font-family: 'Pacifico', cursive;
}
.footer {
    text-align: center;
    background-color: #c7ff00;
    font-family: 'Kalam', cursive;
    color: mediumvioletred;
}

#main {
    background-color: lightskyblue;
    
}